<section class="bestself">
    <div class="container">
        <div class="bestself-container">
            <div class="bestself-title title-2 mobile-show"><h2>Be your best self.</h2></div>
            <div class="bestself-gallery">
                <div class="bestself-gallery__top"><img src="../img/hero-gallery1.png" alt=""></div>
                <div class="bestself-gallery__mid"><img src="../img/hero-gallery2.png" alt=""></div>
                <div class="bestself-gallery__bottom"><img src="../img/hero-gallery3.png" alt=""></div>
            </div>
            <div class="bestself-info">
                <div class="bestself-title title-2 mobile-hide"><h2>Be your best self.</h2></div>
                <div class="bestself-text">
                    <p class="bestself-text__dynamic loading">Hi! My name’s [Insert Name], and I founded [Insert] in ____.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.</p>
                    <p> Fusce non nibh luctus, dignissim risus quis, bibendum dolor. Donec placerat volutpat ligula, ac consectetur felis varius non. Aliquam a nunc rutrum, porttitor dolor eu, pellentesque est. Vivamus id arcu congue, faucibus libero nec, placerat ligula.</p>
                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu nisl a metus ultrices sodales.</p>
                    <p>Fusce non ante velit. Sed auctor odio eu semper molestie. Nam mattis, sapien eget lobortis fringilla, eros ipsum tristique tellus, ac convallis urna massa at nibh.</p>
                    <p>Duis non fermentum augue. Vivamus laoreet aliquam risus, sed euismod leo aliquam ut. Vivamus in felis eu lacus feugiat aliquam nec in sapien.</p>
                    <p>Cras mattis varius mollis.</p>
                </div>
                <a href="/" class="btn mobile-hide"><span>Customize Your Outfit</span></a>
            </div>
        </div>
    </div>
</section>