<section class="comfort">
    <div class="container">
        <div class="comfort-container">
            <div class="title-2"><h2>Comfort made easy</h2></div>
            <div class="comfort-group">
                <div class="swiper-button-prev comfort-swiper-button-prev"><img src="../img/swiper-arrow.svg" alt=""></div>
                <div class="swiper comfort-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="comfort-group__block">
                                <div class="comfort-group__block-img">
                                    <img src="../img/icon-cart.svg" alt="">
                                </div>
                                <div class="title-5"><h5>You save.</h5></div>
                                <p>Browse our comfort sets and save 15% when you bundle.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="comfort-group__block">
                                <div class="comfort-group__block-img">
                                    <img src="../img/icon-car.svg" alt="">
                                </div>
                                <div class="title-5"><h5>We ship.</h5></div>
                                <p>We ship your items within 1-2 days of receiving your order.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="comfort-group__block">
                                <div class="comfort-group__block-img">
                                    <img src="../img/icon-day.svg" alt="">
                                </div>
                                <div class="title-5"><h5>You enjoy!.</h5></div>
                                <p>Wear hernest around the house, out on the town, or in bed.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next comfort-swiper-button-next"><img src="../img/swiper-arrow.svg" alt=""></div>
            </div>
            <div class="customize">
                <a href="/" class="btn customize-btn">
                    <span>Customize Your Outfit</span>
                        <img src="../img/btn-arrow.svg" alt="">
                </a>
                <div class="customize-info">
                    <img src="../img/review-stars.svg" alt="">
                    <span>Over 500+ 5 Star customizes Online</span>
                </div>
            </div>
        </div>
    </div>
</section>