<header class="header">
    <div class="container">
        <div class="header-container">
            <div class="header-text text-title">
                <p class="mobile-hide">CONSCIOUSLY MADE BUTTER SOFT STAPLES FOR EVERY DAY (OR NIGHT) <span>|</span> FREE SHIPPING on orders > $200  <span>|</span> easy 45 day return window.  </p>
                <p class="mobile-show">FREE SHIPPING on orders > $200</p>
            </div>
        </div>
    </div>
</header>

<div class="menu mobile-show">
  <div class="menu__inner">

  </div>
</div>





