<section class="hero">
    <div class="container">
        <div class="hero-container">
            <div class="hero-text">
                <div class="mobile-hide">
                    <div class="hero-logo"><img src="../img/logo.webp" alt=""></div>
                    <div class="title-1"><h1>Don't apologize for being comfortable.</h1></div>
                </div>
                <div class="hero-list">
                    <div class="hero-list__elem">
                        <img src="../img/hero-day.svg" alt="">
                        <span>Beautiful, comfortable loungewear for day or night.</span>
                    </div>
                    <div class="hero-list__elem">
                        <img src="../img/hero-cart.svg" alt="">
                        <span>No wasteful extras, like tags or plastic packaging.</span>
                    </div>
                    <div class="hero-list__elem">
                        <img src="../img/hero-wind.svg" alt="">
                        <span>Our signature fabric is incredibly comfortable - unlike anything you've ever felt .</span>
                    </div>
                </div>
                <button class="btn btn--strange">
                    <span>Customize Your Outfit</span>
                    <img src="../img/btn-arrow.svg" alt="">
                </button>
            </div>
            <div class="hero-gallery">

                <img src="../img/hero-gallery.png" alt="">
                
<!--                <div class="hero-gallery__img hero-gallery__img&#45;&#45;mid"><img src="../img/hero-gallery1.png" alt=""></div>-->
<!--                <div class="hero-gallery__img hero-gallery__img&#45;&#45;left"><img src="../img/hero-gallery2.png" alt=""></div>-->
<!--                <div class="hero-gallery__img hero-gallery__img&#45;&#45;right"><img src="../img/hero-gallery3.png" alt=""></div>-->
            </div>
            <div class="hero-text--mobile mobile-show">
                <div class="hero-logo"><img src="../img/logo.webp" alt=""></div>
                <div class="title-1"><h1>Don't apologize for being comfortable.</h1></div>
            </div>
        </div>
    </div>
</section>