@import "mixins";

@include font-face("Montalban", "montalban", 400, normal);

@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/suisseintl.woff2') format('woff2'),
  url('../fonts/suisseintl.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia/sofia-pro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}